<footer>
  <div class="container-footer">
  <div class="footer-mainInfo">
    <a href="/" class="footer-logo">
      <img src="images/logo.png" alt="logo" class="logo">
    </a>
    <ul class="footer-mainInfoList">
      <li class="footer-mainInfoItem">
        <p class="footer-mainInfoItem-group-name">О Нас</p> 
        <ul>
        <li class="footer-mainInfoItem-name">Главная</li>
        <li class="footer-mainInfoItem-name">Проекты</li>
        <li class="footer-mainInfoItem-name">Награды</li>
      </ul>
      </li>
      <li class="footer-mainInfoItem"> 
        <p class="footer-mainInfoItem-group-name"> Поддержка </p>
        <ul>
          <li class="footer-mainInfoItem-name">Команда</li>
          <li class="footer-mainInfoItem-name">Мероприятия</li>
          <li class="footer-mainInfoItem-name">Партнеры</li>
        </ul>
      </li>
      <li class="footer-mainInfoItem">
        <p class="footer-mainInfoItem-group-name"> Поддержка</p>
        <ul>
          <li class="footer-mainInfoItem-name">Команда</li>
          <li class="footer-mainInfoItem-name">Мероприятия</li>
          <li class="footer-mainInfoItem-name">Партнеры</li>
        </ul>
      </li>
      <li class="footer-mainInfoItem"> 
        <p class="footer-mainInfoItem-group-name">Контакты </p>
        <ul>
          <li class="footer-mainInfoItem-name">Моб.: 8(000)000-00-00</li>
          <li class="footer-mainInfoItem-name">Моб.: 8(000)000-00-00</li>
          <li class="footer-mainInfoItem-name">Email: l21.consulting@gmail.com</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a href="https://twitter.com" target="_blank" rel="noreferrer nofollow">
          <svg width="20px" height="20px">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a href="https://whatsapp.com" target="_blank" rel="noreferrer nofollow">
          <svg width="20px" height="20px">
            <use href="./images/sprite.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a href="https://telegram.com" target="_blank" rel="noreferrer nofollow">
          <svg width="20px" height="20px">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a href="https://instagram.com" target="_blank" rel="noreferrer nofollow">
          <svg width="20px" height="20px">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a href="https://facebook.com" target="_blank" rel="noreferrer nofollow">
          <svg width="20px" height="20px">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="goToConsultation">
      <p class="goToConsultation-title">Запишитесь на <br> первую консультацию бесплатно и узнаете все подробности успеха для бизнеса</p>
      <button class="goToConsultation-btn">Записаться</button>

    </div>
  </div>
</div>
<div class="footer-copyright">
  
    <div class="footer-lang">
      <p class="change-lang">Ru</p>
      <p>L21 Consulting</p>
    </div>
    <p class="copyright">&#169 L21 Consulting 2022. All Rights Reserved.</p>
  
  </div>
</footer>