<header class="header">
  <div class="container">
    <div class="left-side">
      <a href="/">
        <img src="images/logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div class="right-side">
    <nav>
      <ul class="nav">
        <li class="nav-item"> 
          <a href="#main" class="nav-item-link">Главная </a>
        </li>
        <li class="nav-item">
          <a href="#consalting" class="nav-item-link">Консалтинг</a>
          </li>
        <li class="nav-item">
          <a href="#about-uz" class="nav-item-link">О нас</a>
        </li>
        <li class="nav-item">
          <a href="#plan" class="nav-item-link">План</a>
        </li>
        <li class="nav-item">
          <a href="#rezult" class="nav-item-link">Результат</a>
        </li>
      </ul>
      </nav>
      <div>
        <span class="header-contacts">+380639646994</span>
      </div>
      <div>
        <svg class="burger" width="18px" height="12px">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </div>
      </div>
  </div>
  <!-- <div class="backDrop-menu is-hidden"> -->
    <div class="menu">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a href="#" class="menu-list-item-link">Главная</a>
        </li>
        <li class="menu-list-item">
          <a href="#" class="menu-list-item-link">Консалтинг</a>
        </li>
        <li class="menu-list-item">
          <a href="#" class="menu-list-item-link">О нас</a>
        </li>
        <li class="menu-list-item">
          <a href="#" class="menu-list-item-link">План</a>
        </li>
        <li class="menu-list-item">
          <a href="#" class="menu-list-item-link">Результат</a>
        </li>
      </ul>
      <button class="menu-btn">Заказать звонок</button>
      <ul class="menu-social-list">
        <li class="menu-social-item">
          <a href="https://twitter.com" target="_blank" rel="noreferrer nofollow">
            <svg width="20px" height="20px">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a href="https://whatsapp.com" target="_blank" rel="noreferrer nofollow">
            <svg width="20px" height="20px">
              <use href="./images/sprite.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a href="https://telegram.com" target="_blank" rel="noreferrer nofollow">
            <svg width="20px" height="20px">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a href="https://instagram.com" target="_blank" rel="noreferrer nofollow">
            <svg width="20px" height="20px">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a href="https://facebook.com" target="_blank" rel="noreferrer nofollow">
            <svg width="20px" height="20px">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</header>