

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  // background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(32, 31, 29, 0.7);
    backdrop-filter: blur(16px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.logoModal {
  margin: 0 auto;
  margin-top: 70px;
}

.bigModal {
  position: absolute;
  display: flex;
  justify-content: center;
  max-width: 600px;
 
  background-color: #0E0E0E;
  padding: 70px 116px;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  z-index: 3;
}

.bigModal-form {
  text-align: center;
}

.modal-title {
  margin-bottom: 80px;
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 171.69%;
  text-align: center;
    color: #FFFFFF;
}

.input-modal {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
  width: 346px;
  color: #FFFFFF;
}

.input-modal:focus {
  outline: none;
}

.input-modal::placeholder {
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   
  
    color: rgba(255, 255, 255, 0.5);
}

.input-modal:not(:last-child) {
  margin-bottom: 40px;
}


.check-rules {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 53px;
}

.check-box {
  width: 25px;
  height: 25px;
}

.rules {
  margin-left: 12px;
  text-align: left;
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}


.close-modal {
  padding: 0;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  fill: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill:#C7B79E;
  }
}

.submit-bigModal {
  padding: 13px 89px;
  background-color: #C7B79E;
    border-radius: 5px;
    font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 171.69%;
      color: #FFFFFF;
}

.messageAfterSendContacts {
  background-color: transparent;
  max-width: 100%;
  text-align: center;
  
  
}



.messageAfterSendContacts-title {
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130.5%;
    
    letter-spacing: 0.05em;
  
    color: #FFFFFF;
    margin-bottom: 60px;
}

.messageAfterSendContacts-text {
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130.5%;
    
    letter-spacing: 0.02em;
  
    color: #C7B79E;
    margin-bottom: 60px;
}

.messageAfterSendContacts-button {
  background-color: #C7B79E;
  padding: 13px 60px;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 171.69%;
  color: #FFFFFF;
}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 1280px) {
 
// }

@media screen and (max-width: 767px) {
  .bigModal {
      padding: 55px 22px;
    }

    .messageAfterSendContacts-title {
     
      font-size: 28px;
      
    }
  
    .messageAfterSendContacts-text {
     
      font-size: 24px;
      
    }
  
    .messageAfterSendContacts-button {
      
      padding: 13px 18px;
      
      font-size: 14px;
      
      
    }
}

